params {
    input = 'ids.csv'
    outdir = './'
}
process {
    maxErrors = 10
    cpus = 8
    ignoreAnyError {
        errorStrategy = 'ignore'
    }
    withName: SRATOOLS_PREFETCH {
        ext.args = '--max-size 100g'
    }
}
executor {
   retry {
        maxAttempt = 5
   }
}
docker {
    enabled = true
}