params {
	input = "./samplesheet.csv"
	outdir = "./"
	protocol = "10XV2"
	genome = "GRCh38"
	fasta = "/home/yuan/results/references/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
	gtf = "/home/yuan/results/references/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
	skip_multiqc = true
	skip_fastqc = true
}


process {
	maxErrors = 10
	resourceLimits = [
		memory: 128.GB,
		max_cpus: 8,
	    time: 128.h
	]
}
docker {
	enabled = true
}
executor {
    retry {
        maxAttempt = 5
    }
}
